<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoFinal">
        <activity android:name=".PurchasedActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AllProductsActivity" />
        <activity android:name=".FinishedPurchaseActivity" />
        <activity android:name=".FinishPurchaseActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>